.forest-leaves {
  position: absolute;
  inset: 0;

  pointer-events: none;

  overflow: hidden;
}

.forest-leaf {
  position: absolute;

  width: 7px;
  height: 13px;

  border-radius:
    100% 0
    100% 0;

  background:
    linear-gradient(
      135deg,
      rgba(70, 79, 57, 0.8),
      rgba(21, 27, 20, 0.25)
    );

  filter: blur(0.2px);

  animation:
    leafFloat
    ease-in-out
    infinite
    alternate;
}

@keyframes leafFloat {
  0% {
    margin-left: -1vw;
    margin-top: 1vh;
  }

  50% {
    margin-left: 2vw;
    margin-top: -2vh;
  }

  100% {
    margin-left: -3vw;
    margin-top: 4vh;
  }
}